<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Google_Sans,Inter/Google_Sans/static/GoogleSans-Regular.ttf</string>
		<string>Google_Sans,Inter/Google_Sans/static/GoogleSans-Medium.ttf</string>
		<string>Google_Sans,Inter/Google_Sans/static/GoogleSans-SemiBold.ttf</string>
		<string>Google_Sans,Inter/Google_Sans/static/GoogleSans-Bold.ttf</string>
	</array>
</dict>
</plist>
